.header {
  position: absolute;
  top: 1em;
}

.header h1 {
  display: block;
  float: left;
  width: 3.5em;
  margin: 0;
  padding: 0.5em 1.5em;
  font-size: 100%;
  color: #ffffff;
  text-align: center;
  background-color: #4f4f4f;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}

.header h2 {
  margin: 0 0 0 6em;
  padding: 0.5em 1.5em;
  text-align: center;
  font-size: 100%;
  color: #ffffff;
  background-color: #808080;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.columns {
  margin: 100px 30px;
  width: 100%;
}

th {
  margin: 10px 30px;
  font-size: 20px;
  text-align: center;
}

nav {
  position: absolute;
  top: 1em;
  right: 1em;
  margin: 0;
  padding: 0.5 1em;
  background-color: #808080;
  border-radius: 1em;
}

nav li {
  display: inline;
  text-align: center;
}

nav a {
  padding: 0.5em 1em;
  text-decoration: none;
  color: #ffffff;
}

nav a:hover {
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  color: #e5ecf2;
  background-color: #696969;
}

.text-area-left {
  width: 100%;
  height: 439px;
  padding-right: 15px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: vertical;
}

.text-area-rigth {
  width: 95%;
  height: 500px;
  padding-right: 15px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: vertical;
}

.left-column {
  padding-left: 37em;
}

.number {
  display: block;
  float: left;
  width: 1.5em;
  border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  text-align: center;
  color: white;
  background-color: #040000;
}

.text-box {
  display: flexbox;
  width: 50%;
}

.inputTable {
  
  border: 1px solid black;
  width: 50%;
  border-style: none;
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
}

#inputLine td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
  width: 40px;
}

#pointerLine td{
  border-color: black;
  border-style: none;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
  width: 40px;
}

.inputTable th {
  border-color: black;
  border-style: none;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.inputTable .inputData {
  text-align: center;
  vertical-align: center;
  font-weight: bold;
}

.grid-container {
  display: grid;
  grid-template-columns: 30% 35% 35%;
  grid-gap: 10px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
}

.grid-container div {
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.grid-container ol {
  background-color: #e4e4e4;
}

.grid-container ol li {
  text-align: left;
  font-size: 12px;
}

.grid-container pre {
  font-size: 12px;
}

.grid-container ol li:hover {
  color: #e5ecf2;
  background-color: #9b9b9b;
}

#firstLine {
  color: #e5ecf2;
  background-color: #9b9b9b;
}

#status {
  resize: vertical;
  font-size: 13px;
  width: 80%;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}

.depthTable {
  border: 1px;
  width: 55px;
  height: 10px;
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
  font-size: 10px;
}

.depthTable td {
  border-radius: 10px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 10px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
  height: 6px;
}

#depthHeap {
  border: 1px solid black;
  border-radius: 10px;
}

.depthTable thead {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
  border-radius: 10px;
}

ul,
#debugView {
  list-style-type: none;
}

#debugView {
  width: 80%;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  border: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  text-align: center;
  
}

.caret {
  cursor: pointer;
  user-select: none;
}

.caret::before {
  content: "\25bb";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  content: "\25bb";
  color: black;
  display: inline-block;
  margin-right: 6px;
  transform: rotate(90deg);
}

.active {
  display: block;
}

.grid-container ul li {
  text-align: center;
  font-size: 16px;
}

#error {
  color: red;
}

.item1 {
  grid-row-start: 1;
  grid-row-end: 11;
  grid-column-start: 1;
  grid-column-end: 2;
}

.item2 {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 4;
}

.item3a {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

.item4 {
  grid-row-start: 3;
  grid-row-end: 11;
  grid-column-start: 2;
  grid-column-end: 3;
}

.item3b {
  grid-row-start: 4;
  grid-row-end: 11;
  grid-column-start: 3;
  grid-column-end: 4;
}

