/* Body */
body {
  background-color: rgb(45, 45, 45);
}

/* Header */
.header {
  overflow: hidden;
  background-color: rgb(57, 57, 57);
  padding: 20px 10px;
}

.header a {
  float: left;
  color: rgb(233, 233, 233);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: rgb(74, 78, 81);
  color: rgb(233, 233, 233);
}

.header a.active {
  background-color: dodgerblue;
  color: rgb(252, 252, 252);
}

.header-right {
  float: right;
}

/* Button */
.button {
  background-color: dodgerblue;
  color: rgb(252, 252, 252);
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  border-radius: 8px;
}

.button-center {
  display: flex;
  justify-content: center;
}

.button:hover {
  background: rgb(144, 160, 252);
}

.input {
  float: center;
  color: rgb(233, 233, 233);
  text-align: center;
  padding: 8px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 1px;
  width: 26%;
  margin: auto;
}

.sticky {
  float: center;
  text-align: center;
  margin: auto;
  position: fixed;
  top: 0;
  width: 30%;
}

/* D3 tree style */
.node {
  cursor: pointer;
}

.tree {
  z-index: 50;
}

.node circle {
  fill: #fff;
  stroke-width: 3px;
}

.node text {
  fill: #fff;
  font-family: sans-serif;
}

.node:hover {
  background-color: rgb(150, 186, 32);
  color: rgb(138, 15, 15);
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

table,
td,
th {
  border: 1px solid #ddd;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 2px;
  border: none;
}

.svg {
  /* width: 80vw;
  height: 10000;
  margin: auto;
  overflow: auto; */
}

/* Racket */
h2 {
  color: yellow;
}

p {
  color: rgb(52, 255, 29);
}

.letter {
  color: black;
  background-color: white;
  text-align: start;
  padding: 8px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 10px;
  width: 30%;
  margin-right: 20px;
  z-index: -1;
  width: 360px;
  height: 500px;
}

/* Ao clicar no input, arrumar a borda */
.letter:focus {
  outline: none;
  border: 2px solid dodgerblue;
}

.header-distance {
  margin-top: 89px;
  
}

.botao {
  background-color: dodgerblue;
  color: rgb(252, 252, 252);
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  margin-top: 15px;
  border-radius: 8px;
}